Backup/Version3/__init__.py
Backup/Version3/Main.py
Backup/Version3/Class/Librairie.py
Backup/Version3/Class/Livre.py
Backup/Version3/Class/__pycache__/Librairie.cpython-37.pyc
Backup/Version3/Class/__pycache__/Librairie.cpython-38.pyc
Backup/Version3/Class/__pycache__/Livre.cpython-37.pyc
Backup/Version3/Class/__pycache__/Livre.cpython-38.pyc
Backup/Version3/FichierSortieConsole/Etat_Librairie_Fichier_A.txt
Backup/Version3/FichierSortieConsole/Etat_Librairie_Fichier_B.txt
Backup/Version3/FichierSortieConsole/Etat_Librairie_Fichier_C.txt
Backup/Version3/FichierSortieConsole/Etat_Librairie_Fichier_D.txt
Backup/Version3/FichierSortieConsole/Etat_Librairie_Fichier_E.txt
Backup/Version3/FichierSortieConsole/Etat_Librairie_Fichier_F.txt
Backup/Version3/FichierSortieConsole/Statistique_Fichier_A.txt
Backup/Version3/FichierSortieConsole/Statistique_Fichier_B.txt
Backup/Version3/FichierSortieConsole/Statistique_Fichier_C.txt
Backup/Version3/FichierSortieConsole/Statistique_Fichier_D.txt
Backup/Version3/FichierSortieConsole/Statistique_Fichier_E.txt
Backup/Version3/FichierSortieConsole/Statistique_Fichier_F.txt
Backup/Version3/Output/A_output.txt
Backup/Version3/Output/B_output.txt
Backup/Version3/Output/C_output.txt
Backup/Version3/Output/D_output.txt
Backup/Version3/Output/E_output.txt
Backup/Version3/Output/F_output.txt
Backup/Version3/ScriptsFichiers/Ecriture.py
Backup/Version3/ScriptsFichiers/Lecture.py
Backup/Version3/ScriptsFichiers/VerifDouble.py
Backup/Version3/ScriptsFichiers/__pycache__/__init__.cpython-38.pyc
Backup/Version3/ScriptsFichiers/__pycache__/Ecriture.cpython-37.pyc
Backup/Version3/ScriptsFichiers/__pycache__/Ecriture.cpython-38.pyc
Backup/Version3/ScriptsFichiers/__pycache__/Lecture.cpython-37.pyc
Backup/Version3/ScriptsFichiers/__pycache__/Lecture.cpython-38.pyc
Backup/Version3/ScriptsFichiers/__pycache__/VerifDouble.cpython-37.pyc
Backup/Version3/ScriptsFichiers/__pycache__/VerifDouble.cpython-38.pyc
Backup/Version3/__pycache__/__init__.cpython-38.pyc
Backup/HaschcodeV1.py
